<Files "*.*">
    Order Allow,Deny
    Deny from all
</Files>

<Files "*.jpg">
    Order Deny,Allow
    Allow from all
</Files>

<Files "*.jpeg">
    Order Deny,Allow
    Allow from all
</Files>

<Files "*.png">
    Order Deny,Allow
    Allow from all
</Files>

<Files "*.gif">
    Order Deny,Allow
    Allow from all
</Files>